@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --game-message: rgb(170, 216, 238);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 0.4rem !important;
}

a {
    text-decoration: none;
    cursor: auto;
}
  
li {
    list-style-type: none;
}


/* i {
    cursor: pointer;
    margin-left: 3vh;
}

i:hover {
    transform: scale(1.25);
} */

.heading {
    font-size: 2.2rem;
    width: 50%;
    text-align: center;
}



/************FORM************/
#input-form {
    width: 50%;
    font-size: 90%; 
    text-align: center;
}