*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../images/9.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}


/****************** HEADER *****************/
header h1{
  font-size:70px;
  padding: 40px;
  margin-left: 480px;
  margin-top: 100px;
  display: inline-block;
  transform: rotate(0);
  transition: 0.7s;
}

header h1:hover{
  transform: rotate(-10deg);
}


/****************** SECTION *****************/
main section h1{
  color: white;
  font-size:60px;
  padding: 30px;
  margin-left: 800px;
  margin-top: 150px;
  display: inline-block;
  opacity: 0.5;
  transform: scale(1, 1);
  transition: 0.7s;
}


/****************** Product *****************/
main section h1:hover{
  transform: scale(1.2, 1.5);
}

main div{
  margin-top: 50px;
  margin-left: 120px;
  padding: 20px;
}

main .product div{
  display: inline-block;
  font-size:30px;
  padding-bottom: 250px;
  padding-right: 150px;
  padding-left: 150px;
  background-color: #DEB887;
  opacity: 0.7;
  margin-left: 100px;
}

.casual{
  background-image: url('../images/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.formal{
  background-image: url('../images/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.party{
  background-image: url('../images/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.casual , .formal, .party{
  color: white;
  transform: translateY(0);
  transition: 0.7s;
}

.casual:hover, .formal:hover, .party:hover{
  transform: translateY(-40px);
}


/****************** Information *****************/
main .information div{
  display: inline-block;
  font-size:30px;
  padding-bottom: 250px;
  padding-right: 150px;
  padding-left: 100px;
  background-color: #DEB887;
  opacity: 0.7;
  margin-left: 100px;
}

.contact{
  background-image: url('../images/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.inbox{
  background-image: url('../images/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.suggestion{
  background-image: url('../images/7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact , .inbox, .suggestion{
  color: white;
  perspective: 900px;
  transform: rotate3d(0, 0, 0, 0deg);
  transition: 0.7s;
}

.contact:hover, .inbox:hover, .suggestion:hover{
  transform: rotate3d(0, 1, 0, -50deg) translateY(-50px) scale(1.2);
}

footer{
  background-color: black;
  margin-top: 100px;
  height: 50px;
}
