*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_full{
  width: 100%;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.header_bg{
  background: #333333;
  padding: 20px;
}

header{
  display: flex;
  align-items: center;
}

header h1{
  color: #f7881e;
  font-size: 50px;
  margin-left: 10px;
}

header h2{
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.nav_bg{
  background: #666666;
}

nav ul li{
    list-style-type: none;
    float: left;
    border-right: 1px solid #333;
}

nav ul li a{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.clearfix{
  clear: both;
}

section{
  display: flex;
  margin-top: 60px;
}

.article_wrap{
  width: 800px;
  margin-right: 50px;
}

article{
  display: flex;
  align-items: center;
  padding: 50px 0px;
  border-bottom: 1px solid #ddd;
}

.articalimage{
  width: 300px;
  margin-right: 50px;
}

.articalimage img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: top;
}



article h2{
  font-size: 40px;
  margin-bottom: 15px;
}

article p{
  font-size: 18px;
  margin-bottom: 15px;
}

article a{
  text-decoration: none;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.aside_wrap{
  width: 250px;
  background-color: #f0f0f0;
}

aside h2{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    text-align: center;
}

aside ul li{
  list-style-type: none;
}

aside ul li a{
  display: block;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 20px;
}

aside p{
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
}

footer{
  padding: 20px 0;
  margin-top: 50px;
  color: #fff;
  text-align: center;
}

.footer_bg{
  background-color: #333;
}

footer a{
  color: orange;
  text-decoration: none;
}
