body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header{
  position: fixed;
  background: #0e0e0e;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #1DC4E7;
}

.logout_btn{
  padding: 10px 10px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  opacity: 0.8;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  opacity: 1;
}

.sidebar{
  background: #2F323A;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile-image{
  width: 130px;
  height: 130px;
  border-radius: 100px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.sidebar .profile-image:hover{
  opacity: 1;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
}

.sidebar h4:hover{
    color: #fff;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  color: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #siderbar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #siderbar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -190px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~.sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content{
  margin-left: 250px;
  background: url("../images/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check{
  display: none;
}
