*{
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #12232E;
  color: #EEFBFB;
}
/* HEADING */
header{
  font-family: 'Chango', cursive;
  text-align: center;
  font-size: 24px;
}

/*BODY*/
main{
  font-family: 'Train One', cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

img{
  display: block;
}

main img.main-image{
  display: inline;
  border-radius: 8px;
  height: 500px;
  width: 49.5%;
}

footer{
  float: right;
  color:#798EA4
}
