@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Start of Header*/

.navbar {
    background-color: #000;
    padding: 1rem 8rem;
}

.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
    color: #00BF6D;
}

#navbarSupportedContent button {
    background-color: #00BF6D;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 1.8rem;
}

#navbarSupportedContent button:hover {
    background-color: #fff;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 1.8rem;
}

.mid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;;
    text-align: center;
}

.mid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mid .hero p {
    width: 55%;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.mid .hero a {
    background-color: #00BF6D;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 1.8rem;
    text-decoration: none;
}

.mid .hero a:hover {
    background: #fff;
}

/*End of Header*/


/*Start of About*/

#about {
    background: #000;
    height: 80vh;
}

#about .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

#about h5 {
    color: #00BF6D;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

#about h3 {
    font-weight: 700;
    font-size: 2.5rem;
}

#about p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

#about a {
    background-color: #00BF6D;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 1.8rem;
    text-decoration: none;
}

#about a:hover {
    background-color: #fff;
}
/*End of About*/



/*Start of Discover*/

#discover {
    background: #fff;
    height: 75vh;
    display: flex;
    align-items: center;
}

#discover .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

#discover h5 {
    color: #00BF6D;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

#discover h3 {
    font-weight: 700;
    font-size: 2.5rem;
}

#discover p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

#discover a {
    background-color: #00BF6D;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 1.8rem;
    text-decoration: none;
}

#discover a:hover {
    background-color: #00BF6D;
}
/*End of Discover*/




/*Start of Services*/
#services {
    background: #000;
}

#services .one{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

#services a {
    background: #000;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 1.8rem;
    text-decoration: none;
}

#services a:hover {
    background: #00BF6D;
}

/*End of Services*/





/*Start of Join Us*/

#join-us {
    background: #fff;
    height: 75vh;
    display: flex;
    align-items: center;
}

#join-us .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

#join-us h5 {
    color: #00BF6D;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

#join-us h3 {
    font-weight: 700;
    font-size: 2.5rem;
}

#join-us p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

#join-us a {
    background: #000;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 1.8rem;
    text-decoration: none;
}

#join-us a:hover {
    background-color: #00BF6D;
}
/*End of Join Us*/



/*Start of Footer*/
footer {
    background: black;
}

.f-btn .btn:hover {
    background: #00BF6D;
    border: 1px solid #00BF6D;
}

.f-links a {
    text-decoration: none;
}

.f-links a:hover {
    color: #00BF6D !important;
}

/*End of Footer*/





/*Start of MEDIA-QUERY*/

@media screen and (max-width: 990px) {
    .navbar {
        background-color: #000;
        padding: 1rem;
    }

    #navbarSupportedContent > ul {
        padding: 1rem 0;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 1rem 0rem;
        text-align: center;
    }

    #navbarSupportedContent button {
        margin: auto;
        display: flex;
    }

    #about {
        height: 100vh;
    }

    #discover {

        height: 90vh;
    }

    #join-us {
        height: 90vh;
    }
}

@media screen and (max-width: 768px) {
    #about {
        height: 120vh;
        margin-bottom: 25vh;
    }

    #discover {
        margin-bottom: 25vh;
    }

    #services {
        margin-bottom: 25vh;
    }

    #join-us {
        margin-bottom: 25vh;
    }
}

@media screen and (max-width: 320px) {
    .mid .hero p {
        width: 55%;
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    #about {
        height: 130vh;
    }

    #discover {
        padding-top: 25vh;
        padding-bottom: 20vh;
    }

    #join-us {
        padding-top: 25vh;
        padding-bottom: 25vh;
        height: 100vh;
    }
}

@media screen and (max-width: 290px) {
    #about {
        height: 150vh;
        margin-bottom: 30vh;
    }

    #discover {
        margin-top: 35vh;
        margin-bottom: 30vh;
    }

    #join-us {
        margin-top: 30vh;
        margin-bottom: 40vh;
    }
}

/*End of MEDIA-QUERY*/