@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --link-color: #eceae7;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}






/* Header Section */
header {
  background-image: url("../img/header-img.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}





/* Navigation Section */

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 3vw;
  margin: 0 auto;
}

nav a {
  color: var(--link-color);
  font-weight: bold;
  font-size: 2.2vh;
  opacity: 0.7;
}

nav a:hover {
  font-weight: bold;
  opacity: 1;
  transition: 0.6s ease-in-out;
}


.right-navigation {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

ul .first-link {
  visibility: visible;
}


@media only screen and (max-width: 1100px) {
  .right-navigation {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .right-navigation {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .right-navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {

  nav {
    width: 100%;
    padding: 6vw;
  }

  .left-navigation {
    width: 0%;
  }

  .right-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  ul .first-link {
    visibility: hidden;
  }
}




.text-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-section h1 {
  color: #fff;
  font-size: 5vw;
  opacity: 0.7;
}



.text-section p {
  color: #fff;
  font-size: 1.5vw;
  opacity: 0.7;
}


@media only screen and (max-width: 1800px) {
  .text-section h1 {
    font-size: 6vw;
  }

  .text-section p {
    font-size: 2.5vw;
  }
}


@media only screen and (max-width: 1200px) {
  .text-section h1 {
    font-size: 6.5vw;
  }

  .text-section p {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 800px) {
  .text-section h1 {
    font-size: 10vw;
  }

  .text-section p {
    font-size: 6vw;
  }
}


/* About Section */

#about-me {
  background-color: #000;
  
  color: #fff;
  height: 100vh;
}


.about-container {
  width: 90vw;
  margin: 0 auto;
}


.about-container h1 {
  padding: 6vh;
  font-size: 5vh;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  height: 72vh;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin: 1vh;
  text-align: center;
}

.left-content img {
  height: 40vh;
  margin-top: 5vh;
  border-radius: 50%;
  opacity: 0.9;
}

.left-content img:hover {
  opacity: 1;
  transition: 0.45s ease-in-out;
}

.text-left-content {
  margin-top: 3vh;
  color: black;
}

.text-left-content p {
  margin: 0 auto;
  width: 80%;
  word-spacing: 0.75vh;
  font-size: 2.2vh;
  font-weight: bold;
}

.right-content {
  height: 72vh;
  width: 50%;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 1vh;
  font-size: 2.5vh;
}


.top-right-content {
  padding: 3.5vh;
}

.top-right-content p, .bottom-right-content p{
  padding: 0.7vh;
}

.bottom-right-content {
  padding: 3.5vh;
  padding-top: 0;
  margin-left: 3vh;
}



.top-right-content h3, .bottom-right-content h3{
  text-align: center;
  font-style: italic;
}

@media only screen and (max-width: 2150px) {
  .text-left-content p {
    word-spacing: 0.75vh;
    font-size: 2vh;
  }

  .left-content {
    height: 78vh;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    margin: 1vh;
    text-align: center;
  }

  .right-content {
    height: 78vh;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    margin: 1vh;
    text-align: center;
  }

  .right-content {
    font-size: 2.4vh;
  }
}

@media only screen and (max-width: 1500px) {
  .left-content img {
    height: 32vh;
    margin-top: 5vh;
    border-radius: 50%;
    opacity: 0.9;
  }


  .text-left-content p {
    word-spacing: 0.75vh;
    font-size: 2.8vh;
  }

  .right-content .top-right-content, .bottom-right-content{
    font-size: 3.0vh;
  }

  #about-me {
    height: 200vh;
    
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92vw;
  }

  .left-content {
    height: 85vh;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    margin: 1vh;
    text-align: center;
  }

  .right-content {
    height: 85vh;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    margin: 1vh;
    text-align: center;
  }

}

@media only screen and (max-width: 1000px) {

  .text-left-content p {
    word-spacing: 0.75vh;
    font-size: 2.5vh;
  }


  #about-me {
    background-color: #000;
    
    color: #fff;
    height: 200vh;
    
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92vw;
  }

  .left-content {
    height: 85vh;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    margin: 1vh;
    text-align: center;
  }

  .right-content {
    height: 85vh;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    margin: 1vh;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .left-content img {
    height: 30vh;
    margin-top: 5vh;
    border-radius: 50%;
    opacity: 0.9;
  }

  .text-left-content p {
    word-spacing: 0.75vh;
    font-size: 2.1vh;
  }
}

@media only screen and (max-width: 550px) {

  #about-me {
    height: 178vh;
    
  }

  .about-container {
    width: 100vw;
    margin: 0 auto;
  }

  .about-content {
    margin: 0 auto;
  }


  .left-content img {
    height: 20vh;
    margin-top: 5vh;
    border-radius: 50%;
    opacity: 0.9;
  }

  .text-left-content p {
    word-spacing: 0.75vh;
    font-size: 2vh;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    height: 60vh;
  }

  .right-content .top-right-content, .bottom-right-content{
    font-size: 1.5vh;
  }
}

@media only screen and (max-width: 450px) {

  #about-me {
    height: 135vh;
  }

  .left-content img {
    height: 15vh;
    margin-top: 4vh;
    border-radius: 50%;
    opacity: 0.9;
  }

  .text-left-content p {
    word-spacing: 0.75vh;
    font-size: 1.6vh;
  }

  .right-content .top-right-content, .bottom-right-content{
    font-size: 1.2vh;
    font-weight: bold;
    letter-spacing: -0.1vh;
  }

  .top-right-content {
    padding: 0vh;
  }

  .left-content {
    height: 60vh;
  }

  .right-content {
    height: 40vh;
  }
  
}

@media only screen and (max-width: 400px) {

  #about-me {
    height: 155vh;
  }

  .left-content {
    height: 70vh;
  }

  .right-content {
    height: 50vh;
  }
  
}


/* Skill */

#skill {
  background-image: url("../img/skill.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

table, th, td {
  border: 3px solid rgb(51, 44, 44);
  border-collapse: collapse;
}

table {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}

th, td {
  padding: 0.85vh;
  text-align: center;  
  font-size: 3vh;  
  font-weight: bold;
  color: white;
}

table:hover {
  opacity: 0.9;
  background-color: rgb(10, 10, 10);
}

#skill .heading {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #ffffff; */
  color: white;
}

#skill h1 {
  padding: 5vh;
  font-size: 8vh;
  font-style: italic;
  font-weight: bold;
  color: rgb(238, 223, 223);
}

.table-content {
  height: 100vh;
}

.table-content table {
  margin: 0 auto;
}

@media only screen and (max-width: 1150px) {
  th, td {
    padding: 0.85vh;
    text-align: center;  
    font-size: 2.5vh;  
    font-weight: bold;
    color: white;
  }
}

@media only screen and (max-width: 900px) {
  th, td {
    padding: 0.85vh;
    font-size: 2.3vh;  
  }
}

@media only screen and (max-width: 700px) {
  th, td {
    padding: 0.85vh;
    font-size: 2vh;  
  }
}

@media only screen and (max-width: 400px) {


  #skill h1 {
    padding: 5vh;
    font-size: 6vh;
    font-style: italic;
    font-weight: bold;
    color: rgb(238, 223, 223);
  }


  th, td {
    padding: 0.65vh;
    font-size: 1.5vh;  
  }
}


/* Interest */

#interest {
  background-image: url("../img/interest.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


#interest h1 {
  color: rgb(221, 213, 213);
  padding: 6vh;
  font-size: 5vh;
}

.top-interest {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 3vh 0;
}

.top-interest > * {
  height: 35vh;
  background-color: turquoise;
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
}


.top-interest .first-box {
  background-image: url('../img/reading-books.jpg');
  
}

.top-interest .center-box {
  background-image: url('../img/watching-movies.jpg');
}

.top-interest .last-box {
  background-image: url('../img/coding.jpg');
}

.top-interest > *:hover {
  opacity: 1;
  transition: 0.45s ease-in-out;
}

.interest-content p{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  font-weight: bold;
}







.bottom-interest {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 3vh 0;
}

.bottom-interest > * {
  height: 35vh;
  background-color: turquoise;
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
}

.bottom-interest .first-box {
  background-image: url('../img/listening-to-music.jpg');
}

.bottom-interest .center-box {
  background-image: url('../img/travelling.jpg');
}

.bottom-interest .last-box {
  background-image: url('../img/playing-video-games.jpg');
}

.bottom-interest > *:hover {
  opacity: 1;
  transition: 0.45s ease-in-out;
}


@media only screen and (max-width: 900px) {
  #interest {
    height: 274vh;
  }

  .top-interest {
    display: flex;
    width: 90%;
    
    justify-content: space-around;
    margin: 3vh auto;
    /* height: 150vh; */
    flex-wrap: wrap;
  }


  .top-interest > * {
    width: 92vw;
    margin: 3vh 0;
  }

  .bottom-interest {
    display: flex;
    width: 90%;
    
    justify-content: space-around;
    margin: 3vh auto;
    /* height: 150vh; */
    flex-wrap: wrap;
  }
  
  .bottom-interest > * {
    width: 92vw;
    margin: 3vh 0;
  }

}


@media only screen and (max-width: 400px) {
  #interest h1 {
    color: rgb(221, 213, 213);
    padding: 6vh;
    font-size: 4vh;
  }
}









/* Footer Section */
#footer {
  height: 15vh;
  background-color: black;
  color: white;
  position: relative;
}

#footer .footer-text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8vh;
  font-weight: lighter;
  opacity: 0.7;
}

@media only screen and (max-width: 2000px) {
  #footer .footer-text-content {
    font-size: 1.32vh;
  }
}

@media only screen and (max-width: 1500px) {
  #footer .footer-text-content {
    font-size: 1.1vh;
  }
}


@media only screen and (max-width: 1500px) {
  #footer .footer-text-content {
    font-size: 1.1vh;
  }
}

@media only screen and (max-width: 1100px) {
  #footer .footer-text-content {
    font-size: 0.8vh;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  #footer .footer-text-content {
    font-size: 0.6vh;
    font-weight: bold;
  }
}

@media only screen and (max-width: 650px) {
  #footer .footer-text-content {
    font-size: 0.5vh;
    font-weight: bold;
  }
}

@media only screen and (max-width: 520px) {
  #footer .footer-text-content {
    font-size: 0.4vh;
    font-weight: bold;
  }
}

@media only screen and (max-width: 400px) {
  #footer .footer-text-content {
    font-size: 0.35vh;
    font-weight: bold;
  }
}

@media only screen and (max-width: 350px) {
  #footer .footer-text-content {
    font-size: 0.3vh;
    font-weight: bold;
  }
}