*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  height: 100vh;
  font-size: 16px;
}

#wrap{
  width: 800px;
  margin: 200px auto;
  display: flex;
}

#col{
  width: 250px;
  margin-right: 25px;
  background-color: #fff;
  padding: 12px;
}

.col-heading{
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: #3e4943;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
  padding: 20px 2px;
}

.col-heading h2{
  margin-right: 80px;
}

.head-1{
  background-color: #ff5050;
}

.head-2{
  background-color: #ffcc00;
}

.head-3{
  background-color: #00cc00;
}


.icon-1, .icon-2, .icon-3{
  width: 40px;
  height: 100%;
  color: white;
  position: absolute;
  right: 0%;
  top: 0%;
}

i{
  margin-top: 20px;
}

.icon-1{
  background-color: darkred;
}

.icon-2{
  background-color: #cc9900;
}

.icon-3{
  background-color: #006600;
}


.content{
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
